.chapter {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    width: 80vw;
    height: 80vh;
    overflow: auto;
    z-index: 5;
    background-image: linear-gradient(rgba(245, 245, 245, .3), rgba(245, 245, 245, .9));
    animation: chapta .7s ease-in forwards;
    border-radius: 5px;
}

.back-btn {
    position: fixed;
    top: 2vh;
    left: 3vw;
    @include basic-btn;
    font-size: 2.3vh;
    border-radius: 25px;
    letter-spacing: 1.2px;
    transition: .2s;
    
}

//link to the empik site
.buy-btn {
    position: fixed;
    top: 2vh;
    right: 2vw;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    // @include basic-btn;
    background: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.buy-btn::before {
    content: attr(data-hover);
    transform: translate(150%, 0);
    opacity: 0;
    letter-spacing: 1.2px;
    font-weight: bold;
    color: $white;
    transition: 0.4s;
    position: absolute;
}

.buy-btn:hover::before {
    opacity: 1;
    transform: translate(0,0);
}

.buy-btn span {
    color: $white;
    font-size: 25px;
    transform: translate(0,0);
    transition: 0.2s;
}
.buy-btn:hover span {
    opacity: 0;
    transform: translate(-150%,0);
}

//chapter text
.paragraph {
    padding-top: 1vh;
    padding-right: 2vw;
    padding: 1vh 2vw 1vh;
    font-size: 2.5vh;
    line-height: 3vh;
    font-weight: 400;
}

.paragraph:first-of-type {
    font-weight: 600;
    font-size: 3.2vh;
    line-height: 3.6vh;
    padding-top: 15px;
}

.paragraph:nth-of-type(2) {
    font-size: 2.8vh;
    font-weight: 500;
}

.paragraph:last-child,
.paragraph:nth-last-child(2),
.paragraph:nth-last-child(3) {
    font-style: italic;
    font-size: 2vh;
    line-height: 2.5vh;;
}
.paragraph:last-child {
    padding-bottom: 2vh;
}

@keyframes chapta {
    0% { opacity: 0; }
    100% { opacity: 1}
}