.final {
    width: 100vw;
    height: 100vh;
    position: relative;
    @include centerflex;
    justify-content: space-around;
    z-index: 3;
}

.for-the-win::after {
    content: '';
    position: absolute;
    background-image: url(../img/Emi_TRUE_s.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 150px;
    bottom: 0;
    left: 0;
}

.for-the-loose::after {
    content: '';
    position: absolute;
    background-image: url(../img/Statuta_FALSE_s.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 245px;
    width: 175px;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.final-wilga-logo {
    width: 20vw;
    max-width: 75px;
    margin-top: 3vh;
}
.final-book-title {
    height: 25vh;
    margin: 10px 0;
}

.final-score,
.final-text {
    text-align: center;
    width: 80%;
    font-size: 2.3vh;
    line-height: 2.8vh;
    font-weight: 500;
    
}
.final-btn {
    @include basic-btn;
    padding: 12px 15px;
    border-radius: 35px;
    letter-spacing: 1px;
    font-size: 2.6vh;
}
.for-the-win .final-btn {
    margin-bottom: 205px;
}
.for-the-loose a {
    margin-bottom: 150px;
    z-index: 3;
}
