@media only screen and (min-width: 750px ) and (orientation: portrait) {

    .for-the-win::after {
        width: 100vw;
        height: 520px;
        background-image: url(../img/Dzieci_TRUE_m.png);
        background-size: cover;
        bottom: 0;
    }
    .for-the-loose::after {
        width: 400px;
        height: 565px;
        background-image: url(../img/Statuta_FALSE_m.png);
    }
    .final-wilga-logo {
        margin-top: 3vh;
        max-width: 100px;
    }
    .final-book-title {
        height: 25vh;
    }
    .final-title {
        width: 360px;
    }
    .final-score,
    .final-text {
        font-size: 2vh;
        line-height: 2.8vh;
        width: 45vw;
        padding: 0 5px;
    }
    .final-btn {
       font-size: 2.3vh;
       margin-top: 1vh;
       padding: 15px 24px;
    }
    .for-the-loose a {
        margin-bottom: 30vh;
    }
    .for-the-win .final-btn {
        margin-bottom: 33vh;
    }

}


@media only screen and (min-width: 700px) and (orientation: landscape) {
    .for-the-win {
        width: 70vw;
        max-width: 800px;
        margin: 0 auto;
    }
    .for-the-win::after {
        width: 780px;
        height: 397px;
        background-image: url(../img/Dzieci_TRUE_l.png);
        background-size: cover;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .for-the-loose::after {
        width: 465px;
        height: 620px;
        background-image: url(../img/Statuta_FALSE_l.png);
        left: 10vw;
    }
    .final-score,
    .final-text {
        width: 20vw;
        font-size: 2.3vh;
        line-height: 3vh;
    }
    .final-btn {
        font-size: 2.5vh;
    }
    .for-the-loose a {
        margin-bottom: 20vh;
    }
}

@media only screen and (min-width: 1100px) and (orientation: landscape) {
    .for-the-win {
        max-width: 1100px;
    }
    .for-the-win::after {
        width: 1040px;
        height: 530px;
    }
}

@media only screen and (min-width: 1700px) {
    .final-text-elements {
        margin: 5vh;        
        width: 50vw;
    }
    .final-title {
        width: 35vh;
    }
    .final-score,
    .final-text,
    .final-btn {
        font-size: 22px;
    }
}


