@media only screen and (min-width: 750px ) and (orientation: portrait) {
    .chapter {
        background-image: linear-gradient(rgba(245, 245, 245, .3), rgba(245, 245, 245, .3) 35%, rgba(245, 245, 245, .8) 50%, rgba(245, 245, 245, .95));
        width: 75vw;
    }
    .back-btn {
        top: 4vh;
        left: 5vw;
        border-radius: 30px;
    }
    .buy-btn {
        top: 4vh;
        right: 5vw;
        width: 60px;
        height: 60px;
    }
    .paragraph {
        font-size: 2.2vh;
        line-height: 2.8vh;
    }
    .paragraph:first-of-type {
        font-size: 2.6vh;
        line-height: 3vh;
    }
    .paragraph:nth-of-type(2) {
        font-size: 2.4vh;
    }
    .paragraph:last-child,
    .paragraph:nth-last-child(2),
    .paragraph:nth-last-child(3) {
        font-size: 1.8vh;
        line-height: 2.3vh;
    }
}


@media only screen and (min-width: 700px) and (orientation: landscape) {
    .chapter {
        position: absolute;
        right: -5vw;
        width: 60vw;        
    }
    
    .buy-btn {
        font-size: 17px;
        width: 70px;
        height: 70px;
        right: 3vw;
    }
    .buy-btn span {
        font-size: 28px;
    }
    .paragraph {
        font-size: 1.5vw;
        line-height: 1.9vw;
    }
    .paragraph:first-of-type {
        font-size: 2vw;
        line-height: 2.5vw;
    }
    .paragraph:nth-of-type(2) {
        font-size: 1.8vw;
        line-height: 2.1vw;
    }
    .paragraph:last-child,
    .paragraph:nth-last-child(2),
    .paragraph:nth-last-child(3) {
        font-size: 1.3vw;
        line-height: 1.6vw;
    }
    
}


@media only screen and (min-width: 1700px) {
    .chapter {
        width: 60vw;
    }
    .paragraph,
    .back-btn {
        font-size: 23px;
        line-height: 32px;
    }
    .par1,
    .par2 {
        font-size: 25px;
        line-height: 35px;
    }
}
