.quiz-container {
    // background-color: $background-blue;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 3;
}

.quiz {
    padding-left: 8vw;    
}
.quiz-number {
    background-color: $side-pink;
    color: $white;
    min-height: 80px;
    height: 18vh;
    width: 45px;
    border-radius: 0 0 25px 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    z-index: 3;
    p {
        font-size: 3vh;
        font-weight: bold;
    }
}

.quiz-instruction {
    position: absolute;
    top: 10vh;
    right: 3vw;
    width: 70vw;
    font-size: 3vh;
    line-height: 3.8vh;
    font-weight: 500;
    text-transform: uppercase;
    span {
        color: $side-pink;
    }
}
.quiz-question {
    min-height: 18vh;
    font-size: 2.8vh;
    line-height: 4vh;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 80%;
    position: relative;
    z-index: 3;
}

.quiz-buttons {
    padding: 5vh 0 10vh;
    color: $black;
    li {
        padding: 5px;
        span {
            margin-right: 10px;
        }
    }
}

.quiz-btn {
    width: 80%;
    margin: 5px 0;
    padding: 5px 15px;
    border-radius: 25px;
    // transition: .5s;
    // opacity: 0;
    // animation: newbutt .7s ease-in forwards;
    cursor: pointer;
    font-family: $font;
    font-size: 2.3vh;
    line-height: 2.8vh;
    position: relative;
    z-index: 3;
}
.good-answer {
    background-color: $side-pink;;
}
.wrong-answer {
    color: grey;
}

.quiz-buttons[disabled] {
    pointer-events: none;
    opacity: .7;
}
.next-container {
    // border: 1px solid grey;
    width: 80vw;
    position: relative;
}
.next-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    @include basic-btn;
    padding: 8px 12px;
    margin-bottom: 15px;
    border-radius: 15px;
}
.next-btn[disabled]{
    display: none;
}


.book-logo {
    border-top: 2px solid $black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8vw;
    .img-title {
        width: 85%;
        margin: 5vh auto 3vh;
        z-index: 3;
    }
}



@keyframes newbutt {
    0% { opacity: 0; }
    100% { opacity: 1}
}