.quiz-container {
    background-color: $background-blue;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

.quiz {
    padding-left: 8vw;    
}
.quiz-number {
    background-color: $side-pink;
    color: $white;
    min-height: 80px;
    height: 18vh;
    width: 45px;
    border-radius: 0 0 25px 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    z-index: 3;

    p {
        font-size: 3vh;
        font-weight: bold;
    }
}
.quiz-question {
    min-height: 18vh;
    font-size: 3vh;
    line-height: 4vh;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 80%;
}

ul.quiz-buttons {
    padding: 5vh 0 8vh;
    color: $black;
    li {
        padding: 5px;
        span {
            margin-right: 10px;
        }
    }
}

.quiz-btn {
    width: 80%;
    margin: 5px 0;
    padding: 5px 15px;
    border-radius: 15px;
    transition: .5s;
    opacity: 0;
    animation: newbutt .7s ease-in forwards;
    cursor: pointer;
    font-family: $font;
    font-size: 2.3vh;
    line-height: 2.8vh;
    z-index: 3;
}


.book-logo {
    border-top: 2px solid $black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8vw;
    .img-title {
        width: 85%;
        margin: 5vh auto 3vh;
        z-index: 3;
    }
}

.right {
    background-color: $green;
}

.hov {
    background-color: #49155C;
}

@keyframes newbutt {
    0% { opacity: 0; }
    100% { opacity: 1}
}