.done {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: isdone .7s ease-in forwards;
}
.done::after {
    content: '';
    position: absolute;
    background-image: url(../img/Dzieci_m.png);
    width: 100vw;
    height: 390px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    bottom: 0px;
}
.appear {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    a {
        z-index: 3;
    }
    p, .butt {
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }
    .butt {
        @include basic-btn;
        border-radius: 35px;
        padding: 15px 22px;
        
    }
}

@keyframes isdone {
    0% { opacity: 0; }
    100% { opacity: 1;}
}

@media only screen and (min-width: 750px ) and (orientation: portrait) {
    .done::after {
        background-size: cover;
        height: 30vh;
    }
    .appear {
        p, .butt {
            font-size: 25px;
            line-height: 35px;
        }
        .butt {
            padding: 15px 25px;
        }
    }
}
@media only screen and (min-width: 700px) and (orientation: landscape) {
    .done::after {
        background-image: url(../img/Dzieci_l.png);
        width: 805px;
        height: 50vh;
        background-size: contain;
    }
}