@media only screen and (min-width: 750px ) and (orientation: portrait) {
    .quiz-number {
        height: 15vh;
        min-height: 100px;
        p {
            font-size: 2.5vh;
        }
    }

    .quiz-question,
    .quiz-btn {
        margin-left: 8vw;
        width: 60%;
    }
    
    .quiz-question {
        margin-top: 6vh;
        font-size: 2.5vh;
        line-height: 3.5vh;
    }

    .quiz-btn {
        font-size: 2vh;
        line-height: 2.5vh;
    }
    .quiz-buttons {
        min-height: 35vh;    
    }
    //logo
    .book-logo {
        .img-title {
        width: 50vw;
        }
    }
}
    

@media only screen and (min-width: 700px) and (orientation: landscape) {
    .quiz {
        padding: 0 20vw;
    }
    .quiz-number {
        height: 18vh;
    }
    .quiz-instruction {
        right: 0vw;
        font-size: 2.2vw;
        width: 55vw;
    }
    .quiz-question,
    .quiz-btn {
        margin-left: 8vw;
        font-size: 2vw;
    }
    .quiz-question {
        margin-top: 2vh;
    }
    .quiz-btn {
        padding: 8px 25px;
        transition: .3s;
        &:hover {
            background-color: $blue-shadow;
            color: $white;
        }
    }
    .quiz-buttons {
        height: 35vh;
    }
    .next-container {
        width: 60vw;
    }
    .book-logo {
        margin-right: 0;
        .img-title {
            width: 25vw;
            max-width: 350px;
        }
    }
}


@media only screen and (min-width: 1700px) {
    .quiz-number p,
    .quiz-question,
    .quiz-btn {
        font-size: 25px;
        line-height: 35px;
    }
    .book-logo {
        .img-title {
            max-width: 450px;
        }
    }
    
}
