.main-content {
    margin: 0 auto;
    height: 100vh;
    // max-height: 770px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 3;

    //z obrazem
    background-image: url(../img/Dzieci_TRUE_m.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.main-h {
    display: none;
}


.wilga-logo {
    width: 20vw;
    max-width: 75px;
    position: absolute;
    top: 2vh;
    left: 2vw;
}

.book-title {
    height: 25vh;
    margin: 10px 0 0;
    position: relative;
}
.author-name {
    font-size: 2.5vh;
    font-weight: 600;
    font-style: italic;
    color: $blue-shadow;
    z-index: 5;
}
.premiere {
    font-weight: 600;
    color: $side-pink;
}
.text {
    font-size: 2vh;
    line-height: 2.3vh;
    width: 75vw;
    text-align: center;
    z-index: 5;
}

.main-content a {
    margin-bottom: 23vh;
    z-index: 5;
}

.buttons {
    @include basic-btn;
    min-width: 200px;
    border-radius: 25px;
    font-size: 2.3vh;
    letter-spacing: 1px;
}