.main-content {
    // position: absolute;
    margin: 0 auto;
    height: 100vh;
    max-height: 770px;
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
    // border: 1px solid green;
}

.main-content::after,
.main-content::before {
    content: '';
    position: absolute;
    height: 30vh;
    width: 25vw;
    top: 30vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    // border: 1px dotted black;
}

.main-content::before {
    background-image: url(../img/Flora_s.png);    
    left: 3vw;
    margin-top: 1vh;
}

.main-content::after {
    background-image: url(../img/Emi_s.png);
    right: 3vw;
}

.wilga-logo {
    width: 20vw;
    max-width: 75px;
}

.book-title {
    height: 25vh;
    margin: 10px 0;
    position: relative;
}

.premiere {
    font-weight: 600;
    color: $lila;
}

.text {
    font-size: 2vh;
    line-height: 2.3vh;
    width: 75vw;
    text-align: center;
}

.main-content a {
    margin-bottom: 3vh;
    border-radius: 25px;
    z-index: 5;
}

.buttons {
    @include basic-btn;
    min-width: 200px;
    border-radius: inherit;
    font-size: 2.3vh;
    letter-spacing: 1px;
    background-color: $lila; 
}