@media only screen and (min-width: 750px ) {
    .main-content {
        width: 100vw;
        max-height: 100vh;
        background-image: url(../img/Dzieci_m.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .main-content::after,
    .main-content::before {
        top: 7vh;
        height: 375px;
    }
    .main-content::after {
        background-image: url(../img/Emi_m.png);
        right: 4vw;
    }
    .main-content::before {
        background-image: url(../img/Flora_m.png);
        left: 4vw;
    }
    .wilga-logo {
        margin-top: 5vh;
        max-width: 100px;
    }
    .book-title {
        height: 25vh;
    }
    .text {
        width: 60vw;
    }
    .main-content a {
        margin-top: 2vh;
        margin-bottom: 23vh;
        border-radius: 30px;
    }
    .buttons {
        font-size: 2.3vh;
        border-radius: inherit;
    }
}

@media only screen and (min-width: 1100px) {
   .main-content {
        width: 70vw;
        max-width: 1100px;
        background-image: none;
        position: relative;
   }

   .main-content::after {
    right: -3vw;
   }
   .main-content::before {
    left: -3vw;
   }
   .wilga-logo {
        width: 100px;
        margin-top: 3vh;
   }

   .text {
    width: 30vw;
   }
   .main-content a {
    margin-bottom: 10vh;
   }

}

@media only screen and (min-width: 1700px) {
   
}