@media only screen and (min-width: 750px ) and (orientation: portrait) {
    .main-content {
        width: 100vw;
        max-height: 100vh;
        background-image: url(../img/Dzieci_TRUE_m.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .wilga-logo {
        top: 3vh;
        left: 4vw;
        max-width: 100px;
    }
    .book-title {
        height: 22vh;
    }
    .author-name {
        font-size: 2.3vh;
    }
    .text {
        width: 60vw;
    }
    .main-content a {
        margin-top: 2vh;
        margin-bottom: 35vh;
        
    }
    .buttons {
        font-size: 2.3vh;
        border-radius: 30px;
    }
}

@media only screen and (min-width: 700px) and (orientation: landscape) {
   .main-content {
        width: 75vw;
        max-width: 1100px;
        height: 100vh;
        max-height: 100vh;
        background-image: url(../img/Dzieci_TRUE_l.png);
        position: relative;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
   }

//    .main-content::after {
//     right: -3vw;
//     display: none;
//    }
//    .main-content::before {
//     left: -3vw;
//     display: none;
//    }
   .wilga-logo {
       position: absolute;
       top: 3vh;
       left: 0;
        width: 10vw;
        max-width: 100px;
   }
   .author-name {
    font-size: calc(6px + 1.5vh);
    }
   .text {
    width: 30vw;
    font-size: calc(6px + 1.5vh);
    line-height: calc(8px + 1.5vh);
   }
   .main-content a {
    margin-bottom: 17vh;
   }
   .buttons {
       font-size: calc(7px + 1.5vh);
   }

}

@media only screen and (min-width: 1700px) {
   
}