.slider {
    border: 1px dotted black;
    padding: 10px;
    width: 100%;
}

// .input-range__slider {
//     background: brown;
// }
// .input-range__track {
//     background: grey;
// }
// .input-range__track--active {
//     background: pink;
// }
.slider {
    margin-bottom: 40px;
  }
  
  .slider label {
    color: #888;
    font-size: 0.8rem;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
  }
  
  .input-range__slider {
    background: $side-pink;
    border: none;
  }
  
  .input-range__track {
    background: #ddd;
  }
  
  .input-range__track--active {
    background: $side-pink;
  }
  
  .input-range__label--value .input-range__label-container {
    background: $side-pink;
    color: $white;
    font-size: 0.65rem;
    padding: 2px 5px;
    border-radius: 2px;
  }
  
  .input-range__label--min .input-range__label-container,
  .input-range__label--max .input-range__label-container
   {
    font-size: 0.65rem;
    color: #888;
    left: 0;
  }
  
  .input-range__label--max .input-range__label-container {
    left: 25%;
  }